# Relational Data Hierarchical Modeling

>
> [SCV.HMA1](https://sdv.dev/SDV/user_guides/relational/hma1.html)
>

In [4]:
from sdv import load_demo

In [5]:
metadata, tables = load_demo(metadata=True)
metadata

Metadata
  root_path: .
  tables: ['users', 'sessions', 'transactions']
  relationships:
    sessions.user_id -> users.user_id
    transactions.session_id -> sessions.session_id

In [6]:
metadata.visualize()

In [7]:
tables

{'users':    user_id country gender  age
 0        0      US      M   34
 1        1      UK      F   23
 2        2      ES   None   44
 3        3      UK      M   22
 4        4      US      F   54
 5        5      DE      M   57
 6        6      BG      F   45
 7        7      ES   None   41
 8        8      FR      F   23
 9        9      UK   None   30,
 'sessions':    session_id  user_id  device       os  minutes
 0           0        0  mobile  android       23
 1           1        1  tablet      ios       12
 2           2        2  tablet  android        8
 3           3        3  mobile  android       13
 4           4        4  mobile      ios        9
 5           5        5  mobile  android       32
 6           6        6  mobile      ios        7
 7           7        7  tablet      ios       21
 8           8        8  mobile      ios       29
 9           9        9  tablet      ios       34,
 'transactions':    transaction_id  session_id           timestamp  amount  cancelled
 0               0           0 2019-01-01 12:34:32   100.0      False
 1               1           1 2019-01-01 12:42:21    55.3      False
 2               2           2 2019-01-07 17:23:11    79.5      False
 3               3           3 2019-01-10 11:08:57   112.1       True
 4               4           4 2019-01-10 21:54:08   110.0       True
 5               5           5 2019-01-11 11:21:20    76.3      False
 6               6           6 2019-01-22 14:44:10    89.5      False
 7               7           7 2019-01-23 10:14:09   132.1       True
 8               8           8 2019-01-27 16:09:17    68.0      False
 9               9           9 2019-01-29 12:10:48    99.9      False}

In [9]:
from sdv.relational import HMA1

import warnings
warnings.filterwarnings('ignore')

model = HMA1(metadata)
model.fit(tables)

In [10]:
# get sample data
new_data = model.sample()
new_data

{'users':    user_id country gender  age
 0        0      US      M   22
 1        1      ES      F   44
 2        2      BG      F   43
 3        3      US      M   34
 4        4      BG    NaN   57
 5        5      US    NaN   22
 6        6      ES    NaN   56
 7        7      ES      F   30
 8        8      UK      M   28
 9        9      US      M   34,
 'sessions':    session_id  user_id  device       os  minutes
 0           0        0  mobile  android       20
 1           1        1  mobile  android       13
 2           2        2  tablet      ios       27
 3           3        3  tablet      ios       30
 4           4        4  tablet  android       29
 5           5        5  tablet  android       21
 6           6        6  tablet      ios       33
 7           7        7  tablet      ios       14
 8           8        8  tablet      ios       24
 9           9        9  tablet      ios       18,
 'transactions':    transaction_id  session_id           timestamp  amount  cancelled
 0               0           0 2019-01-10 02:47:21   132.1       True
 1               1           1 2019-01-06 15:41:42    68.8      False
 2               2           2 2019-01-28 22:13:28    99.0      False
 3               3           3 2019-01-04 11:38:57    70.5      False
 4               4           4 2019-01-21 03:10:10   106.7      False
 5               5           5 2019-01-18 14:25:24   106.5      False
 6               6           6 2019-01-29 12:10:48   132.1       True
 7               7           7 2019-01-08 20:35:57    93.6      False
 8               8           8 2019-01-27 16:57:46   132.1       True
 9               9           9 2019-01-17 08:07:46   129.6      False}

In [11]:
# save hierarchical model
model.save('./models/my_model.pkl')

In [13]:
# get 5 rows of top level sample data
model.sample(num_rows=5)

{'users':    user_id country gender  age
 0       15      UK      F   34
 1       16      US      F   22
 2       17      BG      M   55
 3       18      ES      F   38
 4       19      US      F   42,
 'sessions':    session_id  user_id  device       os  minutes
 0          15       15  tablet      ios       12
 1          16       16  tablet      ios       27
 2          17       17  mobile  android       19
 3          18       18  mobile  android        7
 4          19       19  mobile  android       10,
 'transactions':    transaction_id  session_id           timestamp  amount  cancelled
 0              15          15 2019-01-01 12:34:32    78.1      False
 1              16          16 2019-01-15 07:46:35    92.7      False
 2              17          17 2019-01-01 12:34:32    78.6      False
 3              18          18 2019-01-04 07:25:17    81.2      False
 4              19          19 2019-01-01 12:34:32    81.0      False}

In [14]:
# get 5 rows from subset of tables
model.sample('sessions', num_rows=5)

{'sessions':    session_id  user_id  device       os  minutes
 0          20       22  mobile      ios        8
 1          21       24  tablet      ios        7
 2          22       24  mobile  android       21
 3          23       22  tablet      ios       18
 4          24       23  mobile      ios       16,
 'transactions':    transaction_id  session_id           timestamp  amount  cancelled
 0              20          20 2019-01-08 06:05:40    71.0      False
 1              21          21 2019-01-20 02:53:26   100.3      False
 2              22          22 2019-01-01 12:34:32    62.3      False
 3              23          23 2019-01-12 15:15:31    95.3      False
 4              24          24 2019-01-08 12:27:42    89.5      False}

In [17]:
# get pandas dataframe of sample data
model.sample('users', num_rows=5, sample_children=False)

   user_id country gender  age
0       35      ES      F   30
1       36      US      M   56
2       37      FR      F   54
3       38      US      M   25
4       39      US    NaN   41